# INSTALACIÓN E IMPORTACIÓN DE LIBRERÍAS

# PREPARACIÓN DE DATOS

In [ ]:
pip install beautifulsoup4

In [3]:
pip install selenium

Requirement already satisfied: selenium in c:\users\cmv28\anaconda3\lib\site-packages (4.22.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\cmv28\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\cmv28\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\cmv28\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\cmv28\anaconda3\lib\site-packages (from selenium) (2024.6.2)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\cmv28\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: websocket-client>=1.8.0 in c:\users\cmv28\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\cmv28\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\cmv28\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\cmv28\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\cmv28\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\cmv28\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\cmv28\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\cmv28\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\cmv28\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\cmv28\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\cmv28\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install folium

Requirement already satisfied: folium in c:\users\cmv28\anaconda3\lib\site-packages (0.17.0)
Requirement already satisfied: branca>=0.6.0 in c:\users\cmv28\anaconda3\lib\site-packages (from folium) (0.7.2)
Requirement already satisfied: jinja2>=2.9 in c:\users\cmv28\anaconda3\lib\site-packages (from folium) (3.1.3)
Requirement already satisfied: numpy in c:\users\cmv28\anaconda3\lib\site-packages (from folium) (1.26.4)
Requirement already satisfied: requests in c:\users\cmv28\anaconda3\lib\site-packages (from folium) (2.31.0)
Requirement already satisfied: xyzservices in c:\users\cmv28\anaconda3\lib\site-packages (from folium) (2022.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\cmv28\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (2.1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\cmv28\anaconda3\lib\site-packages (from requests->folium) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\cmv28\anaconda3\lib\site-packages (from requests->folium) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\cmv28\anaconda3\lib\site-packages (from requests->folium) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\cmv28\anaconda3\lib\site-packages (from requests->folium) (2024.6.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install --upgrade openpyxl

Requirement already satisfied: openpyxl in c:\users\cmv28\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\cmv28\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import folium
from datetime import datetime
from time import sleep
import requests
from bs4 import BeautifulSoup
from pprint import pprint
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import selenium

In [7]:
url = "https://ucdp.uu.se/downloads/index.html#ged_global"

response = requests.get(url)

# Comprobamos que la response da un 200 (OK)
print(response)
print(bool(response))

<Response [200]>
True

In [ ]:
# El atributo .text retorna el HTML de la página 
# NO EJECUTAR
print(response.text)

In [9]:
response.raise_for_status()

In [10]:
type(response.text)

str

In [11]:
soup = BeautifulSoup(response.text, "html.parser")

In [ ]:
#Ejecutar para ver el HTML
soup

In [13]:
type(soup)

bs4.BeautifulSoup

In [14]:
# URL del archivo CSV
url = "https://ucdp.uu.se/downloads/ged/ged221-csv.zip"

# Este metodo descarga, extrae el archivo ZIP y lee el archivo csv
def download_and_extract(url, extract_to='data'):
    # Descargar el archivo
    response = requests.get(url)
    zip_path = extract_to + '.zip'
    
    with open(zip_path, 'wb') as file:
        file.write(response.content)

    # Extraer el archivo ZIP
    from zipfile import ZipFile
    with ZipFile(zip_path, 'r') as zip_ref:
        zip_ref.extractall(extract_to)

    # Leer el archivo CSV
    csv_path = extract_to + '/GEDEvent_v22_1.csv'
    df = pd.read_csv(csv_path, encoding='latin1')
    return df

# Ejemplo de uso
df = download_and_extract(url)

C:\Users\cmv28\AppData\Local\Temp\ipykernel_5996\2377026190.py:20: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_path, encoding='latin1')

In [15]:
df

,id,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,conflict_name,dyad_dset_id,...,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,high,low,gwnoa,gwnob
0,244657,IRQ-2017-1-524-322,2017,1,Clear,1,259,259,Iraq: Government,524,...,2017-07-31 00:00:00.000,0,4,0,2,6,6,6,645,NaN
1,412700,IRQ-2021-1-524-145,2021,1,Clear,1,259,259,Iraq: Government,524,...,2021-08-26 00:00:00.000,13,1,141,28,183,184,171,645,NaN
2,413023,IRQ-2021-1-524-143,2021,1,Clear,1,259,259,Iraq: Government,524,...,2021-08-28 00:00:00.000,0,2,0,0,2,3,0,645,NaN
3,412909,IRQ-2021-1-524-144,2021,1,Clear,1,259,259,Iraq: Government,524,...,2021-08-29 00:00:00.000,0,0,10,0,10,10,9,645,NaN
4,132140,AFG-1989-1-411-2,1989,1,Clear,1,333,333,Afghanistan: Government,724,...,1989-01-13 00:00:00.000,6,0,0,0,6,6,6,700,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293629,15525,MZM-1989-3-1347-4,1989,1,Clear,3,498,562,Renamo - Civilians,498,...,1989-03-24 00:00:00.000,0,0,9,0,9,9,9,NaN,NaN
293630,15524,MZM-1989-3-1347-16,1989,1,Clear,3,498,562,Renamo - Civilians,498,...,1989-07-15 00:00:00.000,0,0,9,0,9,9,9,NaN,NaN
293631,15245,MZM-1990-3-1347-18,1990,1,Clear,3,498,562,Renamo - Civilians,498,...,1990-06-10 00:00:00.000,0,0,7,0,7,7,7,NaN,NaN
293632,15516,MZM-1990-3-1347-28,1990,1,Clear,3,498,562,Renamo - Civilians,498,...,1990-11-23 00:00:00.000,0,0,1,0,1,1,1,NaN,NaN
293633,15493,MZM-1990-3-1347-29,1990,1,Clear,3,498,562,Renamo - Civilians,498,...,1990-11-25 00:00:00.000,0,0,6,0,6,6,6,NaN,NaN

 # TRANSFORMACIÓN Y LIMPIEZA DE DATOS

Eliminamos filas duplicadas.
Eliminamos filas con valores nulos en columnas críticas (year, active_year, country, type_of_violence).


Convertimos las columnas year, best, high y low a tipos de datos adecuados.
Renombramos columnas para mayor claridad.

Controlamos los valores nulos, para evitar errores


OTRAS CONSIDERACIONES

Verificación de Tipos de Datos: Es importante asegurarse de que las columnas tengan los 
tipos de datos correctos para evitar errores en análisis posteriores.

Manejo de Valores Nulos: Dependiendo del análisis, puedes optar por diferentes estrategias 
para manejar valores nulos,como eliminación o imputación con valores específicos.

In [18]:
df

,id,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,conflict_name,dyad_dset_id,...,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,high,low,gwnoa,gwnob
0,244657,IRQ-2017-1-524-322,2017,1,Clear,1,259,259,Iraq: Government,524,...,2017-07-31 00:00:00.000,0,4,0,2,6,6,6,645,NaN
1,412700,IRQ-2021-1-524-145,2021,1,Clear,1,259,259,Iraq: Government,524,...,2021-08-26 00:00:00.000,13,1,141,28,183,184,171,645,NaN
2,413023,IRQ-2021-1-524-143,2021,1,Clear,1,259,259,Iraq: Government,524,...,2021-08-28 00:00:00.000,0,2,0,0,2,3,0,645,NaN
3,412909,IRQ-2021-1-524-144,2021,1,Clear,1,259,259,Iraq: Government,524,...,2021-08-29 00:00:00.000,0,0,10,0,10,10,9,645,NaN
4,132140,AFG-1989-1-411-2,1989,1,Clear,1,333,333,Afghanistan: Government,724,...,1989-01-13 00:00:00.000,6,0,0,0,6,6,6,700,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293629,15525,MZM-1989-3-1347-4,1989,1,Clear,3,498,562,Renamo - Civilians,498,...,1989-03-24 00:00:00.000,0,0,9,0,9,9,9,NaN,NaN
293630,15524,MZM-1989-3-1347-16,1989,1,Clear,3,498,562,Renamo - Civilians,498,...,1989-07-15 00:00:00.000,0,0,9,0,9,9,9,NaN,NaN
293631,15245,MZM-1990-3-1347-18,1990,1,Clear,3,498,562,Renamo - Civilians,498,...,1990-06-10 00:00:00.000,0,0,7,0,7,7,7,NaN,NaN
293632,15516,MZM-1990-3-1347-28,1990,1,Clear,3,498,562,Renamo - Civilians,498,...,1990-11-23 00:00:00.000,0,0,1,0,1,1,1,NaN,NaN
293633,15493,MZM-1990-3-1347-29,1990,1,Clear,3,498,562,Renamo - Civilians,498,...,1990-11-25 00:00:00.000,0,0,6,0,6,6,6,NaN,NaN

In [19]:
# Ejemplo de Limpieza de Datos

# Eliminar duplicados
def transform_data(df):
    df = df.drop_duplicates()

    return df
    
# Eliminar filas con valores nulos en columnas críticas
columns_to_check = ['year', 'active_year', 'country_id', 'type_of_violence']
df = df.dropna(subset=columns_to_check)

In [20]:
# Mostramos info
df.isna().sum()/df.shape[0]*100

id                    0.000000
relid                 0.000000
year                  0.000000
active_year           0.000000
code_status           0.000000
type_of_violence      0.000000
conflict_dset_id      0.000000
conflict_new_id       0.000000
conflict_name         0.000000
dyad_dset_id          0.000000
dyad_new_id           0.000000
dyad_name             0.000000
side_a_dset_id        0.000000
side_a_new_id         0.000000
side_a                0.000000
side_b_dset_id        0.000000
side_b_new_id         0.000000
side_b                0.000000
number_of_sources     0.000000
source_article        0.000341
source_office        35.169633
source_date          35.169633
source_headline      35.169633
source_original      13.516146
where_prec            0.000000
where_coordinates     0.000000
where_description     1.864907
adm_1                 5.406390
adm_2                21.438594
latitude              0.000000
longitude             0.000000
geom_wkt              0.000000
priogrid_gid          0.000000
country               0.000000
country_id            0.000000
region                0.000000
event_clarity         0.000000
date_prec             0.000000
date_start            0.000000
date_end              0.000000
deaths_a              0.000000
deaths_b              0.000000
deaths_civilians      0.000000
deaths_unknown        0.000000
best                  0.000000
high                  0.000000
low                   0.000000
gwnoa                21.621474
gwnob                99.503123
dtype: float64

In [21]:
df[df["source_office"].isnull()]

,id,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,conflict_name,dyad_dset_id,...,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,high,low,gwnoa,gwnob
4,132140,AFG-1989-1-411-2,1989,1,Clear,1,333,333,Afghanistan: Government,724,...,1989-01-13 00:00:00.000,6,0,0,0,6,6,6,700,NaN
5,130364,AFG-1989-1-411-37,1989,1,Clear,1,333,333,Afghanistan: Government,724,...,1989-01-18 00:00:00.000,0,0,0,4,4,4,0,700,NaN
6,130359,AFG-1989-1-411-4,1989,1,Clear,1,333,333,Afghanistan: Government,724,...,1989-01-24 00:00:00.000,0,0,0,600,600,600,600,700,NaN
7,133883,AFG-1989-1-411-39,1989,1,Clear,1,333,333,Afghanistan: Government,724,...,1989-02-05 00:00:00.000,0,0,0,2,2,2,0,700,NaN
8,133874,AFG-1989-1-411-6,1989,1,Clear,1,333,333,Afghanistan: Government,724,...,1989-01-31 00:00:00.000,0,0,0,70,70,70,70,700,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293629,15525,MZM-1989-3-1347-4,1989,1,Clear,3,498,562,Renamo - Civilians,498,...,1989-03-24 00:00:00.000,0,0,9,0,9,9,9,NaN,NaN
293630,15524,MZM-1989-3-1347-16,1989,1,Clear,3,498,562,Renamo - Civilians,498,...,1989-07-15 00:00:00.000,0,0,9,0,9,9,9,NaN,NaN
293631,15245,MZM-1990-3-1347-18,1990,1,Clear,3,498,562,Renamo - Civilians,498,...,1990-06-10 00:00:00.000,0,0,7,0,7,7,7,NaN,NaN
293632,15516,MZM-1990-3-1347-28,1990,1,Clear,3,498,562,Renamo - Civilians,498,...,1990-11-23 00:00:00.000,0,0,1,0,1,1,1,NaN,NaN
293633,15493,MZM-1990-3-1347-29,1990,1,Clear,3,498,562,Renamo - Civilians,498,...,1990-11-25 00:00:00.000,0,0,6,0,6,6,6,NaN,NaN

In [22]:
#Eliminamos los nulos, para evitar errores
df.dropna()

,id,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,conflict_name,dyad_dset_id,...,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,high,low,gwnoa,gwnob
81036,229161,ERI-2016-1-45-0,2016,1,Clear,1,409,409,Eritrea - Ethiopia,865,...,2016-06-13 00:00:00.000,0,0,0,25,25,200,25,531.0,530.0
85022,372976,IND-1991-1-422-2,1991,1,Clear,1,218,218,India - Pakistan,422,...,1991-09-26 00:00:00.000,0,0,3,0,3,3,3,750.0,770.0
85023,372977,IND-1991-1-422-3,1991,1,Clear,1,218,218,India - Pakistan,422,...,1991-10-26 00:00:00.000,0,0,0,0,0,6,0,750.0,770.0
85040,372640,IND-1996-1-422-3.1,1996,1,Clear,1,218,218,India - Pakistan,422,...,1996-06-07 00:00:00.000,0,0,1,0,1,1,1,750.0,770.0
85041,372646,IND-1996-1-422-3.2,1996,1,Clear,1,218,218,India - Pakistan,422,...,1996-06-08 00:00:00.000,0,3,0,0,3,3,3,750.0,770.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274452,316780,KYR-2019-1-14236-1,2019,0,Clear,1,13324,13324,Kyrgyzstan - Tajikistan,14236,...,2019-09-17 00:00:00.000,1,3,0,0,4,4,4,703.0,702.0
274453,396873,KYR-2021-1-14236-8.1,2021,1,Clear,1,13324,13324,Kyrgyzstan - Tajikistan,14236,...,2021-05-01 00:00:00.000,8,0,0,0,8,8,8,703.0,702.0
274454,396956,KYR-2021-1-14236-4.2,2021,1,Clear,1,13324,13324,Kyrgyzstan - Tajikistan,14236,...,2021-05-01 00:00:00.000,0,0,1,0,1,1,1,703.0,702.0
274455,396957,KYR-2021-1-14236-4.3,2021,1,Clear,1,13324,13324,Kyrgyzstan - Tajikistan,14236,...,2021-05-01 00:00:00.000,0,0,1,0,1,1,1,703.0,702.0
274457,396987,KYR-2021-1-14236-8.2,2021,1,Clear,1,13324,13324,Kyrgyzstan - Tajikistan,14236,...,2021-05-01 00:00:00.000,0,0,1,0,1,1,1,703.0,702.0

In [27]:
# Informacion antes de eliminar las columnas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293634 entries, 0 to 293633
Data columns (total 49 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 293634 non-null  int64
 1   relid              293634 non-null  object
 2   year               293634 non-null  int64
 3   active_year        293634 non-null  int64
 4   code_status        293634 non-null  object
 5   type_of_violence   293634 non-null  int64
 6   conflict_dset_id   293634 non-null  int64
 7   conflict_new_id    293634 non-null  int64
 8   conflict_name      293634 non-null  object
 9   dyad_dset_id       293634 non-null  int64
 10  dyad_new_id        293634 non-null  int64
 11  dyad_name          293634 non-null  object
 12  side_a_dset_id     293634 non-null  int64
 13  side_a_new_id      293634 non-null  int64
 14  side_a             293634 non-null  object
 15  side_b_dset_id     293634 non-null  int64
 16  side_b_new_id      293634 non-null  int64
 17  side_b             293634 non-null  object
 18  number_of_sources  293634 non-null  int64
 19  source_article     293633 non-null  object
 20  source_office      190364 non-null  object
 21  source_date        190364 non-null  object
 22  source_headline    190364 non-null  object
 23  source_original    253946 non-null  object
 24  where_prec         293634 non-null  int64
 25  where_coordinates  293634 non-null  object
 26  where_description  288158 non-null  object
 27  adm_1              277759 non-null  object
 28  adm_2              230683 non-null  object
 29  latitude           293634 non-null  float64
 30  longitude          293634 non-null  float64
 31  geom_wkt           293634 non-null  object
 32  priogrid_gid       293634 non-null  int64
 33  country            293634 non-null  object
 34  country_id         293634 non-null  int64
 35  region             293634 non-null  object
 36  event_clarity      293634 non-null  int64
 37  date_prec          293634 non-null  int64
 38  date_start         293634 non-null  object
 39  date_end           293634 non-null  object
 40  deaths_a           293634 non-null  int64
 41  deaths_b           293634 non-null  int64
 42  deaths_civilians   293634 non-null  int64
 43  deaths_unknown     293634 non-null  int64
 44  best               293634 non-null  int64
 45  high               293634 non-null  int64
 46  low                293634 non-null  int64
 47  gwnoa              230146 non-null  object
 48  gwnob              1459 non-null    float64
dtypes: float64(3), int64(25), object(21)
memory usage: 109.8+ MB

In [47]:
# Eliminar columnas no deseadas
columns_to_drop = [
        'code_status', 'conflict_dset_id', 'conflict_new_id', 'dyad_dset_id', 
        'side_a_dset_id', 'side_a_new_id', 'side_a', 'side_b_dset_id', 
        'side_b_new_id', 'side_b', 'number_of_sources', 'source_article', 
        'source_office', 'source_date', 'source_headline', 'source_original', 
        'where_prec', 'priogrid_gid', 'country_id', 'event_clarity', 'date_prec', 'gwnoa', 'gwnoa', 'active_year'
    ]

df = df.drop(columns=columns_to_drop, errors='ignore')

In [49]:
# Informacion despues de eliminar las columnas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293634 entries, 0 to 293633
Data columns (total 22 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 293634 non-null  int64
 1   year               293634 non-null  int64
 2   type_of_violence   293634 non-null  int64
 3   conflict_name      293634 non-null  object
 4   dyad_name          293634 non-null  object
 5   where_coordinates  293634 non-null  object
 6   where_description  288158 non-null  object
 7   adm_1              277759 non-null  object
 8   adm_2              230683 non-null  object
 9   latitude           293634 non-null  float64
 10  longitude          293634 non-null  float64
 11  country            293634 non-null  object
 12  region             293634 non-null  object
 13  date_start         293634 non-null  datetime64[ns]
 14  date_end           293634 non-null  datetime64[ns]
 15  deaths_a           293634 non-null  int64
 16  deaths_b           293634 non-null  int64
 17  deaths_civilians   293634 non-null  int64
 18  deaths_unknown     293634 non-null  int64
 19  best               293634 non-null  int64
 20  high               293634 non-null  int64
 21  low                293634 non-null  int64
dtypes: datetime64[ns](2), float64(2), int64(10), object(8)
memory usage: 49.3+ MB

In [30]:
df.describe()

,id,year,type_of_violence,dyad_new_id,latitude,longitude,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,high,low,gwnob
count,293634.000000,293634.000000,293634.000000,293634.000000,293634.000000,293634.000000,293634.000000,293634.000000,293634.000000,293634.000000,293634.000000,293634.000000,293634.000000,1459.000000
mean,226230.243218,2010.088103,1.423061,5806.116369,26.068832,36.372024,1.845559,2.379660,3.719811,1.798950,9.743981,15.087112,8.274410,728.102125
std,122696.304726,8.670637,0.738703,5984.571169,14.751352,44.562096,56.758713,30.100399,164.864124,109.582953,210.898301,337.416675,165.283069,103.387029
min,4.000000,1989.000000,1.000000,406.000000,-37.813611,-117.300000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
25%,122913.250000,2005.000000,1.000000,749.000000,14.833333,31.183683,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,690.000000
50%,232281.500000,2013.000000,1.000000,981.000000,33.339199,37.383333,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,2.000000,770.000000
75%,330481.750000,2016.000000,2.000000,11973.000000,35.431750,65.766670,1.000000,2.000000,1.000000,0.000000,5.000000,6.000000,5.000000,770.000000
max,433273.000000,2021.000000,3.000000,17072.000000,68.979170,155.896681,14162.000000,9505.000000,40000.000000,48183.000000,48183.000000,75000.000000,48183.000000,800.000000

In [31]:
df.iterrows()

In [32]:
# Filtrar 5 conflictos por pais y eliminar filas no deseadas

def filter_conflicts_by_country(df, n=5):
    # Filtrar para obtener solo los primeros 'n' conflictos por país
    filtered_df = df.groupby('country').head(n)
    return filtered_df

In [33]:
filter_conflicts_by_country(df)

,id,relid,year,type_of_violence,conflict_name,dyad_new_id,dyad_name,where_coordinates,where_description,adm_1,...,date_start,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,high,low,gwnob
0,244657,IRQ-2017-1-524-322,2017,1,Iraq: Government,524,Government of Iraq - IS,Kabul city,Iraqi embassy in Kabul,Kabul province,...,2017-07-31 00:00:00.000,2017-07-31 00:00:00.000,0,4,0,2,6,6,6,NaN
1,412700,IRQ-2021-1-524-145,2021,1,Iraq: Government,524,Government of Iraq - IS,Kabul international airport,Kabul airport (Abbey gate entrance),Kabul province,...,2021-08-26 00:00:00.000,2021-08-26 00:00:00.000,13,1,141,28,183,184,171,NaN
2,413023,IRQ-2021-1-524-143,2021,1,Iraq: Government,524,Government of Iraq - IS,Jalalabad town,Police District 7 of Jalalabad city,Nangarhar province,...,2021-08-28 00:00:00.000,2021-08-28 00:00:00.000,0,2,0,0,2,3,0,NaN
3,412909,IRQ-2021-1-524-144,2021,1,Iraq: Government,524,Government of Iraq - IS,Kabul city,Kabul city (district 15),Kabul province,...,2021-08-29 00:00:00.000,2021-08-29 00:00:00.000,0,0,10,0,10,10,9,NaN
4,132140,AFG-1989-1-411-2,1989,1,Afghanistan: Government,724,Government of Afghanistan - Jam'iyyat-i Islami...,Nangarhar province,Nangarhar province,Nangarhar province,...,1989-01-07 00:00:00.000,1989-01-13 00:00:00.000,6,0,0,0,6,6,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293567,21100,ZIM-1995-3-552-2,1995,3,Government of Zimbabwe (Rhodesia) - Civilians,943,Government of Zimbabwe (Rhodesia) - Civilians,Karoi town,Karoi town,Mashonaland West province,...,1995-10-29 00:00:00.000,1995-11-04 00:00:00.000,0,0,1,0,1,1,1,NaN
293568,28581,ZIM-1995-3-552-1,1995,3,Government of Zimbabwe (Rhodesia) - Civilians,943,Government of Zimbabwe (Rhodesia) - Civilians,Harare town,Harare city,Harare province,...,1995-11-03 00:00:00.000,1995-11-03 00:00:00.000,0,0,0,3,3,3,0,NaN
293569,26205,ZIM-1998-3-552-2,1998,3,Government of Zimbabwe (Rhodesia) - Civilians,943,Government of Zimbabwe (Rhodesia) - Civilians,Mutare town,Mutare town,Manicaland province,...,1998-11-11 00:00:00.000,1998-11-11 00:00:00.000,0,0,1,0,1,1,1,NaN
293570,26281,ZIM-1999-3-552-1,1999,3,Government of Zimbabwe (Rhodesia) - Civilians,943,Government of Zimbabwe (Rhodesia) - Civilians,Bulawayo town,Bulawayo town (near),Bulawayo province,...,1999-03-07 00:00:00.000,1999-03-07 00:00:00.000,0,0,1,0,1,1,1,NaN
293571,26180,ZIM-2001-3-552-1,2001,3,Government of Zimbabwe (Rhodesia) - Civilians,943,Government of Zimbabwe (Rhodesia) - Civilians,Bulawayo town,Bulawayo town (near),Bulawayo province,...,2001-03-04 00:00:00.000,2001-03-04 00:00:00.000,0,0,0,0,0,1,0,NaN

In [51]:
# Uso
data = download_and_extract(url)
df = transform_data(data)

print(df.columns)
    
# Mostrar las primeras filas del DataFrame transformado
print(df.head())

# Guardar el DataFrame transformado en un nuevo archivo CSV
df.to_csv('data/GEDEvent_v22_1_transformed.csv', index=False)

C:\Users\cmv28\AppData\Local\Temp\ipykernel_5996\2377026190.py:20: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_path, encoding='latin1')

Index(['id', 'relid', 'year', 'active_year', 'code_status', 'type_of_violence',
       'conflict_dset_id', 'conflict_new_id', 'conflict_name', 'dyad_dset_id',
       'dyad_new_id', 'dyad_name', 'side_a_dset_id', 'side_a_new_id', 'side_a',
       'side_b_dset_id', 'side_b_new_id', 'side_b', 'number_of_sources',
       'source_article', 'source_office', 'source_date', 'source_headline',
       'source_original', 'where_prec', 'where_coordinates',
       'where_description', 'adm_1', 'adm_2', 'latitude', 'longitude',
       'geom_wkt', 'priogrid_gid', 'country', 'country_id', 'region',
       'event_clarity', 'date_prec', 'date_start', 'date_end', 'deaths_a',
       'deaths_b', 'deaths_civilians', 'deaths_unknown', 'best', 'high', 'low',
       'gwnoa', 'gwnob'],
      dtype='object')
       id               relid  year  active_year code_status  \
0  244657  IRQ-2017-1-524-322  2017            1       Clear
1  412700  IRQ-2021-1-524-145  2021            1       Clear
2  413023  IRQ-2021-1-524-143  2021            1       Clear
3  412909  IRQ-2021-1-524-144  2021            1       Clear
4  132140    AFG-1989-1-411-2  1989            1       Clear

   type_of_violence  conflict_dset_id  conflict_new_id  \
0                 1               259              259
1                 1               259              259
2                 1               259              259
3                 1               259              259
4                 1               333              333

             conflict_name  dyad_dset_id  ...                 date_end  \
0         Iraq: Government           524  ...  2017-07-31 00:00:00.000
1         Iraq: Government           524  ...  2021-08-26 00:00:00.000
2         Iraq: Government           524  ...  2021-08-28 00:00:00.000
3         Iraq: Government           524  ...  2021-08-29 00:00:00.000
4  Afghanistan: Government           724  ...  1989-01-13 00:00:00.000

  deaths_a  deaths_b  deaths_civilians deaths_unknown  best  high  low  gwnoa  \
0        0         4                 0              2     6     6    6    645
1       13         1               141             28   183   184  171    645
2        0         2                 0              0     2     3    0    645
3        0         0                10              0    10    10    9    645
4        6         0                 0              0     6     6    6    700

  gwnob
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN

[5 rows x 49 columns]

In [ ]:
from datetime import datetime

# Metodo para limpiar fechas
def limpiar_fechas(fecha):
    
    fecha = fecha.split()[0]
    fecha = datetime.strptime(fecha, "%Y-%m-%d")
    
    return fecha

df["date_start"] = df["date_start"].apply(lambda x : limpiar_fechas(x))
df["date_end"] = df["date_end"].apply(lambda x : limpiar_fechas(x))